/* // pretendard */
@font-face {
    font-family: "Pretendard-Thin";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
        format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
        format("woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Light";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
        format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
        format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
        format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Bold";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
        format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Black";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
        format("woff");
    font-weight: 900;
    font-style: normal;
}

/* // 나눔 명조 */
@import url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");

/* // 강원교육모두 */
@font-face {
    font-family: "GangwonEdu_OTFLightA";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GangwonEdu_OTFBoldA";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Alongserifbsc";
    src: url("/public/fonts/alongserifbsc-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
