.react-calendar {
    width: 100%;
    border: none;
    font-family: "PyeongChang-Regular";
    line-height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    width: 100%;
    height: 2.5rem;
    background-color: #f2f2f2;
    border-radius: 3rem;
    margin-bottom: 8%;
    justify-content: space-around;
    align-items: center;
}

.react-calendar__navigation__label {
    font-size: 120%;
    font-family: "Pretendard-Regular";
    pointer-events: none;
}

.react-calendar__navigation__arrow {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    &:first-child {
        margin-left: 3%;
    }

    &:last-child {
        margin-right: 3%;
    }
}

.calendar-prevnav-btn,
.calendar-nextnav-btn {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__viewContainer {
    width: 100% !important;
}

.react-calendar__month-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > div {
        width: 100%;
    }
}

.react-calendar__month-view__weekdays {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: "Pretendard-Regular";
    margin: 0;
}

.react-calendar__month-view__weekdays__weekday {
    flex: 1;
}

/* 요일(weekday) 점선 없애기 */
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    border-bottom: none;
    cursor: default;
}

.react-calendar__month-view__days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Pretendard-Regular";
    margin: 0;

    & > button {
        font-size: 90% !important;
    }
}

.react-calendar__tile {
    overflow: visible !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background: none;
    text-align: center;
}

.react-calendar__tile--active::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: #278cff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.react-calendar__tile--active {
    color: white !important;
}

/* showDate가 false일 때 요일 숨기기 */
.hide-dates .react-calendar__viewContainer {
    display: none;
}

/* showDate가 false일 때 날짜 숨기기 */
.hide-dates .react-calendar__tile {
    display: none;
}
